.img {
  width: 300px;
  height: fit-content;
}

.imageProduct {
  object-fit: cover;
  width: 70%;
  height: 60%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .imageProduct {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .imageProduct {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .imageProduct {
    width: 80%;
    height: 80%;
  }
}
